arpirobot-corelib @ file://localhost/${HOME}/.arpirobot/corelib/python_bindings/; sys_platform != 'windows'
arpirobot-corelib @ file://localhost/${USERPROFILE}/.arpirobot/corelib/python_bindings; sys_platform == 'windows'